@model IEnumerable<TechReviewSite.Models.Category>

@*This is the Index Page for the Category (Item) Model - MUST BE styled for this project*@

@{
    ViewBag.Title = "Category";
}
<html>
<body>
    <!--adding an image to the header using background class "backgroundImgCategoryIndex" 
        image and styling goes in content\Site.css
        -->
    <div class="backgroundImgCategoryIndex">

        <h1>Reviewed Items</h1>             

       @* This table is now on top of the background image*@

        <table class="table">            

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
             }
           
        </table>
        <h2>
            @Html.ActionLink("Create New Item to Review", "Create")
        </h2>
    </div>

</body>
</html>

