/*Site.css is the style sheet used for updating specific elements in the project.  It will override all others*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-variant-caps:small-caps;  
}
/* This creates the background image for the header on the Category Index page*/
.backgroundImgCategoryIndex {
   
    background-image: url('../Images/telephone wires.jpg');
    background-repeat: no-repeat;
    background-size:cover;
   
    padding-top: 100px;
    padding-bottom:100px;
  
    color:ghostwhite;
    text-align:center;
    font-size:x-large;  
    font-variant-caps:small-caps;  
}
    
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behpx;avior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*set the images on the carousel to be the same size*/
.myCarousel img{

}
